html,
body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Roboto";
  font-size: 13px;
}

/* -----------------------CARD---------------------------------------------------------------- */

/* card */
.card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.heading {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 30px;
}

/* icon design */
.heading span i:first-child {
  color: dodgerblue;
  font-size: 30px;
}

/* Todo-s word */
.heading span:last-of-type {
  color: dodgerblue;
  text-decoration: underline;
  font-size: 20px;
}

/* -----------------------FORM---------------------------------------------------------------- */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  #form {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
  }

  #form span {
    align-self: center;
    padding: 10px;
  }

  #form input[type="text"] {
    flex: 1;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    color: #333;
    transition: all 0.3s;
  }

  #form input[type="submit"] {
    border: none;
    background: dodgerblue;
    opacity: 0.9;
    color: white;
    cursor: pointer;
    height: 50%;
    padding: 5px;
    margin-right: 10px;
    align-self: center;
    border-radius: 0.2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #form {
    background: white;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
  }

  #form span {
    background-color: white;
    align-self: center;
    padding: 10px;
  }

  #form input[type="text"] {
    flex: 1;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    color: #333;
    transition: all 0.3s;
  }

  #form input[type="submit"] {
    border: none;
    background: dodgerblue;
    opacity: 0.9;
    color: white;
    cursor: pointer;
    height: 50%;
    padding: 5px;
    margin-right: 10px;
    align-self: center;
    border-radius: 0.2rem;
  }
}

#form span i {
  color: dodgerblue;
}

#form input[type="text"]:focus {
  border: none;
}

/* -----------------------SEPARATOR---------------------------------------------------------------- */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .separator {
    margin: 20px 20px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .separator {
    margin: 20px 4px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

/* -----------------------FILTERS---------------------------------------------------------------- */

#date span i {
  color: rgb(48, 194, 114);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .containerfilter {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  /* filter */
  #filter {
    /* background-color: aquamarine; */
    margin-right: 20px;
    margin-left: 20px;
  }

  #filter label {
    padding-right: 0.1rem;
  }

  #filter select {
    border-radius: 0.15rem;
    padding: 0.1rem 2.6rem 0.1rem 2.6rem;
  }

  /* date */

  #date label {
    padding-right: 0.1rem;
  }

  #date select {
    border-radius: 0.15rem;
    padding: 0.1rem 2.6rem 0.1rem 2.6rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .containerfilter {
    /* background-color: rgb(139, 153, 153); */
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }

  /* filter */
  #filter {
    /* background-color: aquamarine; */
    margin-right: 20px;
    margin-left: 20px;
  }

  #filter label {
    padding-right: 0.1rem;
  }

  #filter select {
    border-radius: 0.15rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
  }

  /* date */
  #date label {
    padding-right: 0.1rem;
  }

  #date select {
    border-radius: 0.15rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
  }
}

/* -----------------------TASKS---------------------------------------------------------------- */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .task {
    /* background-color: rgb(212, 120, 208); */
    display: flex;
    flex-direction: row;
    margin: 10px 50px 10px 50px;
    /* font-size: 16px; */
    /* font-size: 2.5vw; */
  }

  /* -----------------------left---------------------------------------------------------------- */

  .task-left {
    background-color: #fafafa;
    display: flex;
    width: 80%;
    /* font-size: 16px; */
    /* font-size: 2.5vw; */
  }

  /* checkbox */
  .task-left span:first-child {
    background-color: #fafafa;
    align-self: center;
    color: blue;
  }

  .task-left span:first-child i {
    font-size: 20px;
  }

  /* input to add task */
  .task-left input[type="text"]:disabled {
    flex: 1;
    /* width: 100%; */
    /* font-size: 1.2rem; */
    /* padding: 0.1rem 1rem 0.1rem 1rem; */
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    background-color: #fafafa;
    border: none;
    outline: none;
    color: #333;
    transition: all 0.3s;
  }

  .task-left input[type="text"] {
    flex: 1;
    /* width: 100%; */
    /* font-size: 1.2rem; */
    /* padding: 0.1rem 1rem 0.1rem 1rem; */
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    /* background-color: rgb(255, 255, 255); */
    border: none;
    outline: none;
    color: #333;
    transition: all 0.3s;
  }

  .task-left span:last-child {
    padding: 5px;
    background-color: white;
    outline: #f66 solid;
    outline-width: thin;
    align-self: center;
    border-radius: 0.2rem;
  }

  .task-left span:last-child i {
    color: #f66;
  }

  /* -----------------------right---------------------------------------------------------------- */

  .task-right {
    background-color: #fafafa;
    display: flex;
    /* flex-grow: 1; */
    width: 20%;
    justify-content: flex-end;
    /* font-size: 1px; */
    /* font-size: 2.5vw; */
  }

  /* -----------------------right action---------------------------------------------------------------- */

  .task-right-action {
    /* background-color: rgb(178, 206, 134); */
    flex-grow: 1;
  }

  .task-right-action div:first-child {
    background-color: #fafafa;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
  }

  /* edit icon */
  .task-right-action div:first-child span:first-child > i {
    color: green;
  }

  /* delete icon */
  .task-right-action div:first-child span:nth-child(2) > i {
    color: red;
  }

  .task-right-action div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
  }

  /* info icon */
  .task-right-action div:nth-child(2) span i:first-child {
    color: grey;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .task {
    /* background-color: rgb(212, 120, 208); */
    display: flex;
    flex-direction: row;
    margin: 10px 5px 10px 5px;
    font-size: 16px;
    font-size: 2.5vw;
  }

  /* -----------------------left---------------------------------------------------------------- */

  .task-left {
    /* background-color: rgb(179, 163, 178); */
    display: flex;
    width: 80%;
    font-size: 16px;
    font-size: 2.5vw;
  }

  /* checkbox */
  .task-left span:first-child {
    /* background-color: rgb(217, 217, 218); */
    align-self: center;
    color: blue;
  }

  .task-left span:first-child i {
    font-size: 15px;
  }

  /* input to add task */
  .task-left input[type="text"]:disabled {
    flex: 1;
    /* width: 100%; */
    /* font-size: 1.2rem; */
    /* padding: 0.1rem 1rem 0.1rem 1rem; */
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    background-color: #fafafa;
    border: none;
    outline: none;
    color: #333;
    transition: all 0.3s;
  }

  .task-left input[type="text"] {
    flex: 1;
    /* width: 100%; */
    /* font-size: 1.2rem; */
    /* padding: 0.1rem 1rem 0.1rem 1rem; */
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    /* background-color: rgb(255, 255, 255); */
    border: none;
    outline: none;
    color: #333;
    transition: all 0.3s;
  }

  .task-left span:last-child {
    padding: 5px;
    background-color: white;
    outline: #f66 solid;
    outline-width: thin;
    align-self: center;
    border-radius: 0.2rem;
    font-size: 1px;
    font-size: 2vw;
  }

  .task-left span:last-child i {
    color: #f66;
  }

  /* -----------------------right---------------------------------------------------------------- */

  .task-right {
    /* background-color: rgb(107, 114, 209); */
    display: flex;
    /* flex-grow: 1; */
    width: 20%;
    justify-content: flex-end;
    font-size: 1px;
    font-size: 2.5vw;
  }

  /* -----------------------right action---------------------------------------------------------------- */

  .task-right-action {
    /* background-color: rgb(178, 206, 134); */
    flex-grow: 1;
  }

  .task-right-action div:first-child {
    /* background-color: rgb(94, 68, 68); */
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
  }

  /* edit icon */
  .task-right-action div:first-child span:first-child > i {
    color: green;
  }

  /* delete icon */
  .task-right-action div:first-child span:nth-child(2) > i {
    color: red;
  }

  .task-right-action div:nth-child(2) {
    /* background-color: rgb(255, 216, 216); */
    display: flex;
    justify-content: flex-end;
    font-size: 1px;
    font-size: 2vw;
  }

  /* info icon */
  .task-right-action div:nth-child(2) span i:first-child {
    color: grey;
  }
}

/* -----------------------lists--------------------------------------------------------------- */
.todoDisplay {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
